.sim-anim-9{
	position: relative;
	-webkit-perspective: 500px; /* Chrome, Safari, Opera */
    perspective: 500px;
	
	}	
.sim-anim-9 img{
	position: absolute;
	-webkit-transition: all 0.5s ;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	}
.sim-anim-9:hover img{
	z-index: 1;
	}
.sim-anim-9:hover img:nth-child(1){
     -ms-transform: translate(0,75%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(0,75%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(0,75%)  scale(0.7,0.7) rotateX(10deg);
	
	}	
.sim-anim-9:hover img:nth-child(2){
     -ms-transform: translate(72%,75%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(72%,75%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(72%,75%)  scale(0.7,0.7) rotateX(10deg);
	}		
.sim-anim-9:hover img:nth-child(3){
     -ms-transform: translate(-72%,75%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(-72%,75%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(-72%,75%)  scale(0.7,0.7) rotateX(10deg);

	}	
.sim-anim-9:hover img:nth-child(4){
    -ms-transform: translate(-72%,0) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(-72%,0)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(-72%,0)  scale(0.7,0.7) rotateX(10deg); 
	  
	}		
.sim-anim-9:hover img:nth-child(5){
    -ms-transform: translate(72%,0) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(72%,0)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(72%,0)  scale(0.7,0.7) rotateX(10deg);
 
	}	
.sim-anim-9:hover img:nth-child(6){
    -ms-transform: translate(72%,-70%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(72%,-70%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(72%,-70%)  scale(0.7,0.7) rotateX(10deg); 
	
	}	
.sim-anim-9:hover img:nth-child(7){
    -ms-transform: translate(-72%,-70%)  scale(0.7,0.7) rotateX(10deg);  
   	-webkit-transform: translate(-72%,-70%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(-72%,-70%)  scale(0.7,0.7) rotateX(10deg); 
	
	}		
.sim-anim-9:hover img:nth-child(8){
    -ms-transform: translate(0,-70%) scale(0.7,0.7) rotateX(10deg); 
   	-webkit-transform: translate(0,-70%) scale(0.7,0.7) rotateX(10deg);
    transform: translate(0,-70%) scale(0.7,0.7) rotateX(10deg);
 
	}	
.sim-anim-9:hover img:nth-child(9){
    -ms-transform: scale(0.7,0.7) rotateX(10deg); 
   	-webkit-transform:scale(0.7,0.7) rotateX(10deg);
    transform: scale(0.7,0.7) rotateX(10deg); 
	}	